
.icon-ame:before { content: '\e800'; } /* '' */
.icon-mu:before { content: '\e801'; } /* '' */
.icon-hare:before { content: '\e802'; } /* '' */
.icon-kumori:before { content: '\e803'; } /* '' */
.icon-ooare:before { content: '\e804'; } /* '' */
.icon-oko:before { content: '\e80d'; } /* '' */
.icon-kanashi:before { content: '\e80f'; } /* '' */
.icon-ureshi:before { content: '\e812'; } /* '' */